name: Build firmware

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: make
      run: |
        sudo apt-get install gcc-arm-none-eabi libnewlib-arm-none-eabi
        make -C micropython/mpy-cross
        make -C micropython/ports/rp2 BOARD=SPARKFUN_XRP_CONTROLLER submodules
        make BOARD=SPARKFUN_XRP_CONTROLLER
