name: Build Firmware

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - features_for_launch

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: Build Firmware
      run: source build.sh && build_micropython_opencv
